@import "variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";

.nav-link:hover, .nav-link:focus, .nav-link:active, .activeLink {
  background: #071532 !important;
  border-radius: 5px !important;
  color: white !important;
}

.rounded-box {
  border-radius: 10px;
  padding: 1px 20px;
  box-shadow: 2px 1px 8px rgb(0 0 0 / 34%);
  background-color: white;
}
.badgeHostel{
  background-color: #1c477d !important;
}

/* CustomNavPills.css */

/* Remove default background, border, and padding for NavItem */
.nav-pills-custom .nav-item {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-pills-custom .nav-link.active {
  border-bottom: 5px solid #1c477d;
  color: #1c477d;
  font-weight: 900;
}

/* Style for non-active links */
.nav-pills-custom .nav-link {
  border-bottom: 2px solid transparent; /* Add transparent bottom border for non-active links */
  color: gray; /* Set default color for non-active links */
  padding: 20px;
}

.themeButtons{
  background-color: #1c477d;
  border: #1c477d;
}

.closeButton{
  background-color: white;
  border: 1px solid #1c477d !important;
  color: #1c477d;
}

.addRoom{
  min-height: 160px;
  cursor: pointer;
}

.themeFields {
  padding: 4px !important;
  border-radius: 8px;
  // background-color: white;
  box-shadow: 4px 3px rgba(139, 139, 139, 0.1);
}

th {
  background-color: #1c477d !important;
  color: white !important;
}

.card{
  background-color: white;
    box-shadow: 4px 4px 6px #beb9b9;
    border-radius: 20px;
}

.bed-icon{
  font-size: 22px;
    margin: 5px;
}


.themeTable{
  border: 1px solid #e0e0e0; // Add border style
  border-radius: 8px; // Add border radius
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Add box shadow
}


.Stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f4f4 !important;
  width: 100%;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 2px solid #1c477d;
    border-radius: 50%;
    background-color: white;
}

.stepperIcon {
  font-size: 18px;
    color: #1c477d;

}

.MuiStep-completed .stepperIcon {
    color: white;
}

.MuiStep-completed .circle-icon {
  background-color: #1c477d;
}

.step-content {
  width: 100%;
}

.step-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.MuiStepLabel-label.MuiStepLabel-active {
  color: rgb(28 71 125) !important;
  font-weight: bold !important;
}

.MuiStepConnector-active .MuiStepConnector-line {
  border-color: #1c477d;
}

.MuiStep-completed .MuiStepConnector-line {
  border: 2px solid;
  border-color: #1c477d;
}

.MuiStepConnector-line {
  border: 2px solid;
  border-color: #e2e6ea;
}


.uploadDiv {
  border: 1px dashed #2B467D;
  background: rgba(217, 217, 217, 0.35);
  height: 200px;
}

.uploadIcon{
  font-size: 50px;
}

.bgDiv{
  padding: 8px;
  border-radius: 10px;
border: 1px solid rgba(50, 75, 126, 0.50);
background: #FFF;
box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75) !important;
  transform-origin: top left;
  margin: 1px 8px;
}

.beds-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Additional styles for container width, padding, and margin */
  max-width: 100%; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
}

.themeIcons{
  color: #1c477d;
}